@import "./mixins.scss";

.beginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  .text {
    width: 70%;
    h3 {
      font-family: 'Lateef', cursive;
      font-size: 5.3vw;
    }
  }
}
