@import "./mixins.scss";

.bioContainer {
  width: 100%;
  @include flexColumn;
  .infoContainer {
    @include flexColumn;
    margin: 10%;
    width: 300px;
    img {
      width: 50%;
    }
    p {
      padding: 10px;
    }
    span {
      padding: 20px;
    }
  }

}
