@import "./mixins.scss";

// @include breakpoint(mobileSmall) {
//     // 330px
// }
// @include breakpoint(mobileLarge) {
//     // 475px
// }
// @include breakpoint(tablet) {
//     // 700px
// }
// @include breakpoint(laptop) {
//     // 900px
// }
// @include breakpoint(desktop) {
//     // 1200px
// }

.bioContainer {
  width: 100%;
  @include flexColumn;
  .infoContainer {
    @include flexColumn;
    margin: 10%;
    width: 300px;
    img {
      width: 50%;
    }
    p {
      padding: 10px;
    }
    span {
      padding: 20px;
    }
  }
}
