@import "./mixins.scss";

// @include breakpoint(mobileSmall) {
//     // 330px
// }
// @include breakpoint(mobileLarge) {
//     // 475px
// }
// @include breakpoint(tablet) {
//     // 700px
// }
// @include breakpoint(laptop) {
//     // 900px
// }
// @include breakpoint(desktop) {
//     // 1200px
// }

.releasesContainer {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.releaseContainer {
  margin: 0.5rem;
  width: 40%;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 1rem;
  img {
    width: 100%;
  }
  p {
    // padding: 20px;
    font-size: 12px;
    text-transform: lowercase;
  }
  @include breakpoint(tablet) {
    width: 20%;
  }
  @include breakpoint(laptop) {
    width: 20%;
  }
}
.in {
  background-color: antiquewhite;
}


.footerContainer {
  @include flexColumn;
  margin: 60px 0px;
  a {
    color: inherit;
  }
  .loadMore {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .hideTop {
    display: none;
  }
  button {
    @include flexColumn;
    max-height: 55px;
    background-color: lightslategray; /* Green */
    border-radius: 20px;

    color: white;

    padding: 15px 32px;
    text-align: center;

    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  a {
    text-decoration: none;
  }
}
