@import "./mixins.scss";

// @include breakpoint(mobileSmall) {
//     // 330px
// }
// @include breakpoint(mobileLarge) {
//     // 475px
// }
// @include breakpoint(tablet) {
//     // 700px
// }
// @include breakpoint(laptop) {
//     // 900px
// }
// @include breakpoint(desktop) {
//     // 1200px
// }

.releaseInfoContainer {
  
  margin-top: 20px;  
  @include flexColumn;
  padding: 20px;
  img {
    padding: 20px;
  }
  h2 {
    text-align: center;
    padding: 10px;
  }

  @include breakpoint(tablet) {

    img {
      width: 40%;
    }
  }

  @include breakpoint(laptop) {
    
    border: 2px solid black;
  }

  @include breakpoint(desktop) {
    
    border: 2px solid blue;
  }
}

.tracklistSpan {
  text-align: center;

  
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  .position {
    width: 50%;
    // text-align: right;
  }
  .title {
    width: 50%;
    text-align: left;
  }
  @include breakpoint(tablet) {

    width: 400px;
  }
}
.videoPlayer {
  @include flexColumn;
  gap: 20px;
  margin-bottom: 0.5rem;
  padding: 20px;
  width: 300px;
}

.releaseInfoButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  button {
    background-color: lightslategray; /* Green */
    border-radius: 20px;

    color: white;
    padding: 15px 32px;
    text-align: center;

    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}
