@import "./mixins.scss";

// @include breakpoint(mobileSmall) {
//     // 330px
// }
// @include breakpoint(mobileLarge) {
//     // 475px
// }
// @include breakpoint(tablet) {
//     // 700px
// }
// @include breakpoint(laptop) {
//     // 900px
// }
// @include breakpoint(desktop) {
//     // 1200px
// }

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchContainer {
    padding: 20px;
    position: absolute;
    
    bottom: 350px;
    width: 100%;
    @include breakpoint(mobileLarge) {
    // 475px
    bottom: 550px;
}


}
.styledSearch {
//   padding: 3rem 5rem;
  text-align: center;
  input {
    // width: 80%;
    font-size: 1rem;
    padding: 0.5rem;
    border: 0.5px solid black;
    border-radius: 20px;
    margin-top: 1rem;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    font-weight: bold;
  }
}
.searchResults {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  p {font-size: 18px;}
}
.searchResult {
  padding: 40px;
}

