.navContainer {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
position: absolute;
  box-shadow: 2px 2px 50px grey;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
  @include breakpoint(tablet) {
    margin-top: 30px;
    width: 50%;
  }
  @include breakpoint(desktop) {
    margin-top: 60px;
    width: 20%;
  }
  .navButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    
    img {
      border-radius: 200px;
      width: 50%;

    }
    &:hover {
      background: ghostwhite;
    }
  }
}
.activeLibrary {
  transform: translateX(0%);
  opacity: 1;
}
