@import "./mixins.scss";

.topTenContainer {
    border: 1px solid gainsboro;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 50px 0px;
    h4 {
        padding: 20px;
    }
    img {
      max-width: 6rem;
      max-height: 100%;
      border-radius: 20px;
    }
    .topTenImage {
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
    }
}
