@import "./mixins.scss";

// @include breakpoint(mobileSmall) {
//     // 330px
// }
// @include breakpoint(mobileLarge) {
//     // 475px
// }
// @include breakpoint(tablet) {
//     // 700px
// }
// @include breakpoint(laptop) {
//     // 900px
// }
// @include breakpoint(desktop) {
//     // 1200px
// }

.topTenContainer {
  // position: sticky;
  border: 1px solid gainsboro;
  border-radius: 10px;
  width: 100%;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 50px 0px;
  h4 {
    padding: 20px;
  }
  img {
    float: left;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  .topTenImage {
    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
  }
  .navButtonsPlus {
    border: 2px solid green;
    width: 30px;
    height: 30px;
    @include flexColumn;
    justify-content: center;
    gap: 2px;
  }
  p {
    font-size: 10px;
    text-align: center;
  }
  @include breakpoint(mobileLarge) {
    img {
      width: 75px;
      height: 75px;
    }
  }
  @include breakpoint(tablet) {
    img {
      width: 100px;
      height: 100px;
    }
  }
  @include breakpoint(laptop) {
    img {
      width: 145px;
      height: 145px;
    }
  }
  @include breakpoint(desktop) {
    img {
      width: 200px;
      height: 200px;
    }
  }
}
