@mixin flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 1200px) {
        @content;
      }
    } @else if $point == laptop {
      @media (min-width: 900px) {
        @content;
      }
    } @else if $point == tablet {
      @media (min-width: 700px) {
        @content;
      }
    } @else if $point == mobileLarge {
      @media (min-width: 475px) {
        @content;
      }
    } @else if $point == mobileSmall {
      @media (min-width: 330px) {
        @content;
      }
    }
  }
  